# ignore all files
*
# but include directories
!*/

# git
!/.gitattributes
!/.gitignore

# notes
!/common/**
!/notes/**

# build
!/panote

# ci
!/.github/**

# docs
!/README.md

# misc
!/.editorconfig
!/LICENSE
